.answer-loading {
    width: 20px;
    height: 20px;
    position: 'absolute';
    right: -24px;
    top: 12px;
    transform: rotate(360deg);
}

.answer-textarea {
    width: 96%;
    border: 1px solid #19243B;
    border-radius: 16px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.custom-no-border {
    background: none !important;
}