.generateLogo {
  animation: 2s rotate linear infinite;
}

.overview-btn {
  border-radius: 1000px !important;
  border: none !important;
  background-color: white !important;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.codeBrowserIcon {
  @apply w-4 h-4 bg-center bg-no-repeat;
  background-image: url(./assets/code-browser.svg);
}